@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Roboto;
}

img {
  height: 25px;
}

.container {
  height: 100vh;
  display: grid;
  grid-template: 200px 5fr / 300px 4fr;
}

.menu {
  background-color: rgb(0, 117, 27);
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px 0 0 30px;
  font-size: 1.75em;
  font-weight: bold;
  color: white;
}

.menu-section1, .menu-section2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 2.5rem;
}

.header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 20px;
}

.top-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

form {
  display: flex;
  gap: 15px;
}

.search-button {
  background-color: white;
  border: 0 solid white;  
}

input[type="search"] {
  background-color: #eeeeee;
  border: 1px solid white;
  border-radius: 15px;
  width: 100%;
  max-width: 700px;
  min-width: 150px;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
}

.right-top-header {
  justify-self: end;
  padding: 0 35px 0 35px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-name {
  font-weight: bold;
  font-size: 1.1rem;
  min-width: max-content;
}

.frog {
  height: 3.5rem;
  border-radius: 50%;
}

.bottom-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.left-bottom-header {
  display: flex;
  gap: 20px;
}

.greeting h2 {
  min-width: max-content;
}

.right-bottom-header {
  display: flex;
  justify-content: end;
  padding: 0 35px;
  gap: 20px;
}

.header-button {
  padding: 10px 20px;
  background-color: rgb(0, 117, 27);
  border-radius: 20px;
  color: white;
}

.content {
  background-color: #eeeeee;
  grid-area: 2 / 2 / 3 / 3;
  box-shadow: inset 0 8px 20px 0px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  padding: 40px 20px;
}

.projects {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 20px;
  padding-right: 20px;
}

.project {
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.05);
  border-left: 8px solid orange;
}

.project p {
  color: rgb(63, 63, 63);
}

.project h3 {
  padding-bottom: 10px;
}

.announcements {
  display: flex;
  flex-direction: column;
  border: 25px solid white;
  border-width: 0px 25px;
  border-radius: 10px;
  background-color: white;
  justify-content: space-evenly;
}

.announcement {
  padding: 15px 10px;
}

.divider {
  background-color: rgb(217, 217, 217);
  height: 2px;
}